.dropdown-menu {
  white-space: nowrap;
  // display: flex;

  &__item {
    // width: 280px;
    // background: #c2c2c2;
    // width: 100%;
    position: relative;

    &:hover {
      ul {
        display: block;

        li {
          &:hover {
            background: #c2c2c2;

            ul {
              display: block !important;
            }
          }
        }
      }
    }
  }

  &__link {
    transition: all 0.5s;
  }

  ul {
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    padding-top: 20px;
    background: #f9f9f9 !important;
    z-index: 222;

    &:last-child {
      padding-top: 0;
    }

    li {
      padding: 10px;
    }

    ul {
      display: none !important;
      left: 100%;
      top: 43.5%;
    }
  }

  .arrow-rotate {
    rotate: -90deg;
  }

  .arrow-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}
