.footer {
  &__top {
    background-color: #024482;
    padding-top: 80px;
    padding-bottom: 80px;

    &-inner {
      text-align: center;
      h2 {
        margin-bottom: 33px;
        color: #ffffff;
      }

      span {
        display: inline-block;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
        width: 50%;
        max-width: 560px;
        margin-bottom: 33px;
      }
    }
  }

  &__form {
    p,
    a {
      margin-top: 15px;
      font-size: 13px;
      color: #ffffff;
    }
    a {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__form-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
  }

  &__form-input {
    background: #ffffff;
    border: 1px solid #d5d5d5;
    width: 26%;

    padding: 13px 0 16px 15px;
  }

  &__form-btn {
    padding: 14px 20px 16px 20px;
    width: 18%;
  }

  &__bottom {
    background: #f9f9f9;
    padding-top: 60px;
    padding-bottom: 60px;

    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    &-item {
      .footer__logo {
        margin-bottom: 4px;
        width: 200px;
      }
      .footer__logo-text {
        font-size: 13px;
        color: #565656;
      }
    }
  }

  &__nav {
    width: 33%;
  }

  &__list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
    column-gap: 50px;
    row-gap: 5px;

    a {
      color: #505050;
      font-weight: 600;

      &:hover {
        color: #076795;
      }
    }
  }

  &__sale {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 3px;

    &-tel {
      color: #098fcf;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__phone-block {
    text-align: right;
  }

  &__sticky-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      border-radius: 10px 70px 0 0;
      position: relative;
      color: #ffffff;
      display: flex;
      align-items: center;
      padding: 10px 40px 10px 10px;
      background: rgb(0, 85, 201);
      background: linear-gradient(90deg, rgba(0, 85, 201, 1) 0%, rgba(24, 185, 212, 1) 100%);

      svg {
        width: 22px;
        margin-right: 10px;
        path {
          fill: #ffffff;
        }
      }

      img {
        width: 30px;
        margin-left: 40px;
      }

      &::after {
        content: "";
        width: 30px;
        height: 30px;
        display: block;
        background: #4c7a83;
        border-radius: 0px 50px 0px 50px;
        position: absolute;
        top: 3px;
        right: 3px;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer__form-input {
    width: 21%;
  }

  .footer__form-btn {
    width: 25%;
  }

  .footer__bottom-item .footer__logo {
    width: 180px;
  }

  .footer__bottom-item .footer__logo-text {
    font-size: 10px;
  }

  .footer__nav {
    width: 47%;
  }

  .footer__list {
    column-gap: 20px;
  }

  .footer__list a {
    font-size: 14px;
  }

  .footer__sale {
    font-size: 14px;
    line-height: 16px;
  }

  .footer__sale-tel {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  .footer__top {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .footer__top-inner h2 {
    margin-bottom: 13px;
  }

  .footer__top-inner span {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer__form-inner {
    flex-direction: column;
    row-gap: 20px;
  }

  .footer__form-input {
    width: 100%;
  }

  .footer__form-btn {
    width: 100%;
  }

  .footer__form p,
  .footer__form a {
    font-size: 10px;
  }

  .footer__bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer__bottom-inner {
    flex-direction: column;
    row-gap: 30px;
  }

  .footer__bottom-item .footer__logo {
    width: 220px;
  }

  .footer__nav {
    width: 100%;
  }

  .footer__phone-block {
    text-align: left;
  }
  .footer__sale {
    font-size: 18px;
    line-height: 18px;
  }

  .footer__sale-tel {
    font-size: 25px;
    line-height: 30px;
  }

  .footer__sticky-inner button {
    display: none !important;
  }
}
