.fuel-delivery {
  padding-top: 74px;
  padding-bottom: 73px;
  background: #f9f9f9;

  h2 {
    margin-bottom: 34px;
  }

  &__inner {
    display: flex;
    column-gap: 71px;
  }

  &__form {
    width: 36.58%;
    max-width: 409px;
    label {
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__total {
    width: 57.06%;
    max-width: 638px;
  }
}

.total {
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  h3 {
    padding-bottom: 16px;
    border-bottom: 1px solid #e7e7e7;
  }

  &__inner {
    p,
    span {
      line-height: 140%;
    }
  }

  &__fuel-cost,
  &__price,
  &__benefit {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__fuel-cost {
    padding-top: 16px;
    padding-bottom: 14px;
    border-bottom: 1px solid #e7e7e7;
  }

  &__fuel-price {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e7e7e7;

    .total__price-descr {
      width: 62.23%;
      max-width: 558px;
      margin-top: 10px;

      font-size: 12px;
      line-height: 15px;
      color: #565656;
    }
  }

  &__fuel-benefit {
    padding-top: 16px;
    padding-bottom: 15px;

    span {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
    }

    .total__benefit-descr {
      width: 62.23%;
      max-width: 558px;
      margin-top: 10px;

      font-size: 12px;
      line-height: 15px;
      color: #565656;
    }
  }

  &__btn {
    margin-top: 16px;
    padding: 14px 67px 16px 68px;
  }
}

.range-slider {
  width: 100%;
  height: 1px !important;
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
  top: -2px;
}

@media (max-width: 576px) {
  .fuel-delivery {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .fuel-delivery__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    row-gap: 20px;
    width: 100%;
  }

  .fuel-delivery__form {
    width: 100%;
    max-width: 100%;
  }

  .total {
    padding: 10px;
  }
  .fuel-delivery__total {
    width: 100%;
  }
  .total__btn {
    margin-top: 3px;
    width: 100%;
  }
}
