.header {
  &__descr {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 8px;
    padding-bottom: 16px;
  }

  &__logo {
    cursor: pointer;
  }

  &__contacts {
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;

      font-weight: 600;
      font-size: 18px;
      line-height: 22px;

      margin-right: 35px;

      img {
        margin-right: 12px;
      }
    }
  }

  &__btn {
    &-personarea {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 14px 14px 16px 14px;
      img {
        width: 13.33px;
        height: 15.83px;

        margin-right: 10px;
      }
    }
    &-writeus {
      padding: 14px 36px 16px 36px;
    }
  }

  &__nav {
    padding: 21px 0;
    background: #f9f9f9;
  }

  .nav {
    &__list {
      display: flex;
      align-items: center;
      column-gap: 40px;
      justify-content: flex-start;
      flex-wrap: wrap;
      row-gap: 20px;

      &-item {
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
          margin-left: 10px;
        }
      }
    }
  }
}

.mobile-menu {
  display: none;
  position: absolute;
  width: 95%;
  left: 15px;
  top: 60px;
  z-index: 777;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
  background-color: #098fcf;
  border-radius: 15px;
  padding-bottom: 40px;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-item {
      padding-top: 7px;
      padding-bottom: 7px;
      a {
        color: #ffffff;
        font-weight: 700;
        line-height: 140%;
      }
    }
  }

  &__contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .mobile-menu__btn-personarea,
    .mobile-menu__btn-writeus {
      padding: 10px 20px;
      border-radius: 15px;
      background: #076795;
      width: 80%;
    }

    .mobile-menu__btn-personarea {
      margin-top: 15px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        margin-right: 15px;
      }
    }

    .mobile-menu__btn-writeus {
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .mobile-menu__contacts-number {
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
      font-weight: 700;

      img {
        width: 16px;
        height: 16px;
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 768px) {
  .header .nav__list {
    justify-content: space-between;
  }

  .header__contacts a {
    font-size: 12px;
    margin-right: 24px;
  }

  .header__contacts a img {
    margin-right: 10px;
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 576px) {
  .header__contacts,
  .header__nav.nav {
    display: none;
  }

  .header__descr {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .header__descr img {
    width: 200px;
  }

  .burger-btn {
    display: block;
  }
}
