.header {
  &__descr {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 8px;
    padding-bottom: 16px;
  }

  &__contacts {
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;

      font-weight: 600;
      font-size: 18px;
      line-height: 22px;

      margin-right: 35px;

      img {
        margin-right: 12px;
      }
    }
  }

  &__btn {
    &-personarea {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 14px 14px 16px 14px;
      img {
        width: 13.33px;
        height: 15.83px;

        margin-right: 10px;
      }
    }
    &-writeus {
      padding: 14px 36px 16px 36px;
    }
  }

  &__nav {
    padding: 21px 0;
    background: #f9f9f9;
  }

  .nav {
    &__list {
      display: flex;
      align-items: center;
      column-gap: 40px;

      &-item {
        display: flex;
        align-items: center;

        img {
          margin-left: 10px;
        }
      }
    }
  }
}
