.reviews {
  padding: 80px 0;
  background: #f9f9f9;
  text-align: center;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
  }

  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    text-align: left;
  }

  &__item {
    padding: 40px;
  }

  &__btn {
    padding: 14px 63px 16px 64px;
    margin-top: 44px;
  }
}

.person {
  width: 48.66%;
  max-width: 545px;
  height: 368px;
  padding: 40px;
  background: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__name {
    display: block;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 12px;
  }

  &__company {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #565656;
    margin-bottom: 40px;
  }

  &__comment {
    line-height: 140%;
  }

  &__descr {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #098fcf;
  }
}
