.service {
  padding-top: 80px;
  padding-bottom: 72px;
  background: #f9f9f9;

  h2 {
    margin-bottom: 48px;
  }

  &__inner {
    display: flex;
    align-items: flex-start;
    column-gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
  }

  &__item {
    width: 33%;
    max-width: 353px;
    padding: 20px;

    display: flex;
    align-items: flex-start;
    column-gap: 19px;

    background: #ffffff;

    img {
      width: 48px;
      height: 48px;
    }

    &-descr {
      h5 {
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 12px;
      }
      p {
        font-size: 14px;
        line-height: 17px;
        color: #565656;
      }
    }
  }
}

@media (max-width: 1024px) {
  .service__item {
    width: 30%;
  }

  .service__inner {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .service__inner {
    column-gap: 20px;
    row-gap: 20px;
  }

  .service__item {
    column-gap: 10px;
    padding: 5px;
    height: 145px;
  }

  .service__item img {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 576px) {
  .service {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .service h2 {
    margin-bottom: 20px;
  }

  .service__inner {
    row-gap: 20px;
    flex-direction: column;
    align-items: center;
  }

  .service__item {
    width: 100% !important;
    max-width: 100%;
    height: auto;
  }
}
