.work {
  h2 {
    margin-bottom: 48px;
  }

  &__inner {
    display: flex;
    align-items: center;
    column-gap: 31px;
  }

  &__item {
    width: 33.333%;
    height: 394px;
    padding: 30px;
    background: #043c77;

    &-top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      span {
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        color: #ffffff;
        padding-bottom: 31px;
      }

      .arrow {
        position: relative;

        &::after {
          content: url("../../dist/img/work/work-arrow.svg");
          width: 100%;
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }
    }

    &-descr {
      margin-top: 30px;
      h4 {
        font-weight: 500;
        font-size: 21px;
        line-height: 26px;
        color: #ffffff;
        margin-bottom: 24px;
      }

      p {
        line-height: 140%;
        color: #ffffff;
      }

      .small-descr {
        font-size: 12px;
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 960px) {
  .work__item-descr h4 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .work__item-descr .small-descr {
    font-size: 10px;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .work__item-descr h4 {
    line-height: 21px;
  }

  .work__item-descr p {
    line-height: 120%;
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .work h2 {
    margin-bottom: 30px;
  }
  .work__inner {
    flex-direction: column;
    column-gap: 0px;
    row-gap: 20px;
  }
  .work__item {
    width: 100%;
    height: auto;
    padding: 20px;
  }
}
