* {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}

ul,
ul li {
  list-style: none;
}

a,
button {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000000;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

body {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;

  background: #098fcf;
}

@import "header.scss";
