* {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}

ul,
ul li {
  list-style: none;
}

a,
button {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000000;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

body {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #ffffff;
}

.container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;

  background: #098fcf;
}

section {
  margin-top: 100px;

  &:first-child {
    margin-top: 90px;
  }
}

.sections-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;

  span {
    color: #098fcf;
  }
}

.vt {
  vertical-align: text-top;
}

.ordinary-label {
  display: flex;
  flex-direction: column;

  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;

  input,
  select {
    background: #ffffff;
    border: 1px solid #d5d5d5;

    padding: 13px 0 16px 15px;
    margin-top: 8px;
  }
}

.slider__buttons {
  button {
    background-color: transparent;
    border: 1px solid #d5d5d5;
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }
  }
}

@import "header.scss";
@import "fuel.scss";
@import "fuel-cost.scss";
@import "fuel-delivery.scss";
@import "work.scss";
@import "service.scss";
@import "certificates.scss";
@import "partners.scss";
@import "reviews.scss";
@import "footer.scss";
